* {
    box-sizing: border-box;
  }
.back{
    position: absolute;
width: 100%;
height: 100%;


background: rgba(255, 255, 255, 0.8);
backdrop-filter: blur(84px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 20px;
background-color:khaki ;
}

.SideSection{
    position: absolute;
width: 142.96px;
height: 879.6px;
left: 56px;
top: 51px;
background-color: hotpink;
}